.app {
  width: 900px;
  height: 900px;
  border-style: solid;
  border-width: 2px;
  border-color: red
}

header {
  text-align: center
}

.aside {
  position: relative;
  top: -665px;
  left: 530px
}

.nav {
  width: 156px;
  margin-left: 50px;
  
}

.next {
  margin-left: 150px
}

footer {
  text-align: center;
  position: relative;
  top: 10px;
}